VITE_IMAGEKIT_ID="your_imagekit_id"

# PESAPAL_CONSUMER_KEY=""
# PESAPAL_CONSUMER_SECRET=""           
RESEND_API_KEY="your_resend_api_key"
RESEND_SEGMENT_AUDIENCE_ID="your_resend_segment_audience_id"
RESEND_TOPICS_ID="your_resend_topic_id"

UPSTASH_REDIS_REST_URL="your_upstash_redis_rest_url"
UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_rest_token"